/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "DejaVu Serif", "Abyssinica SIL", sans-serif; }

.body-background {
  background: rgb(2,0,36);
  background-image: url("/assets/img/bg4.jpg");
}
